footer{
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

.shrinkedText{
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

