<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>

<main class="container-fluid">

    <h1>Form</h1>

    <form th:action="@{/addOrUpdateStudent}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" th:field="*{prenom}" >
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" th:field="*{nom}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" th:field="*{age}">
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</main>

</body>
</html>