<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>



<main>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="d-flex " role="search">
                <input class="form-control me-2 " type="search" placeholder="Bob ... " aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">prénom</th>
            <th scope="col">nom</th>
            <th></th>


        </tr>
        </thead>
        <tbody th:if="${studentList!=null}">



        <tr th:each="s : ${studentList}" >

            <td th:text="${s.prenom}" ></td>
            <td th:text="${s.nom}" ></td>
            <th><a th:href="@{/details/{studentId}(studentId=${s.id})}"><button>Détail</button></a></th>

        </tr>
        </tbody>
    </table>


</main>




</body>
</html>