<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <span th:replace="~{shared/bootstrap :: bootstrapImports}"></span>
</head>
<body>


<header>

    <span th:replace="~{shared/navbar}"></span>

</header>

<main class="container-fluid">

    <h1 class="my-4">Authentification's form</h1>


    <form th:action="@{/signin}" th:object="${adminDTO}" method="post">

        <div class="mb-3">
            <label for="adminMail" class="form-label">adminMail</label>
            <input type="text" class="form-control" id="adminMail" aria-describedby="emailHelp" th:field="*{adminMail}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="text" class="form-control" id="password" th:field="*{password}">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</main>


</body>
</html>