<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts list</title>
    <span th:replace="~{shared/bootstrap :: bootstrapImports}"></span>
</head>
<body>




<div class="row"  th:if="${blogPosts != null}">

    <div class="col-sm-4 mb-3 " th:each="post : ${blogPosts}">

        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <img th:src="@{${post.imageUrl}} " height="200" width="300" alt="recipe's image">
                <p class="card-text shrinkedText" th:text="${post.postContent}"></p>
                <div>
                    <div>
                <a th:href="@{/details/{postId}(postId=${post.id})}" class="btn btn-primary">Details</a>
                    </div>
                    <div th:if="${session.isLogged != null && session.isLogged}">

                        <a th:href="@{/deletepost/{postId}(postId=${post.id})}" class="btn btn-danger">Delete</a>


                    </div>


                    </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>